.App {
  text-align: left;
  border-radius: 15px;
  box-shadow: rgb(0, 0, 0, .05) 0 6px 24px, rgba(0, 0, 0, .05) 0 0 0 1px;
  margin: 0;
  padding: 1rem 2rem;
  background-color: #fff;
}

h1 {
  margin: 0;
  padding: 0;
}