.App {
  text-align: left;
  border-radius: 15px;
  box-shadow: rgb(0, 0, 0, .05) 0 6px 24px, rgba(0, 0, 0, .05) 0 0 0 1px;
  margin: 0;
  padding: 1rem 2rem;
  background-color: #fff;
}

h1 {
  margin: 0;
  padding: 0;
}


.list-item {
  text-decoration: none;
  list-style: unset;
  
}.list-item::marker {
  display: none;
  list-style: none;
 }

.info-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content:space-between ;

}

.button-container {
  display: flex;
}

.tick {
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
/*modal?*/
.overlay{
  position: absolute;
  left: o;
  right: 0;
  top:0;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  width: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding:40px;
box-shadow: rgb(0, 0, 0, 0.5) 0 6px 24ox 0, rgb(0, 0, 0, 0.8) 0 0 0 5px;
}
.modal .form-title-container {
  display: flex;
  justify-content: space-between;
}
.modal .form-title-container button{
  border: none;
  background-color: transparent;
}
